<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ShortcutKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F8F872D1BF5C0D400D40378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F8F873C1BF5C0F300D40378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F8F874D1BF5C46700D40378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD90F751BE853A900FADA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD90F7F1BE853A900FADA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD90F981BE8906B00FADA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD90FA81BE8906B00FADA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD90FB31BE8906B00FADA2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
